#root {
  margin: 0 ;
  padding: 0;
}

.primary-color{
  color: #61C67A;
}

.basegreen-color{
  color: #7af482
}


.basegreen-container{
  background-color: #7af482
}

basepink.color{
  color:#c4c4c4
}
